@using Microsoft.AspNetCore.Identity
@using AssetManager.Web.Models
@using AssetManager.Core.Entities
@using AssetManager.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Asset Manager | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <environment include="Development">
        <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="~/css/design.css" />

        <!-- DataTables -->
        <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    </environment>
    <environment exclude="Development">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Asset Manager</a>
        </div>
        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        @RenderBody()
    </div>
    <!-- REQUIRED JS SCRIPTS -->

    <environment include="Development">
        <!-- jQuery 3 -->
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap 3.3.7 -->
        <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/dist/js/adminlte.min.js"></script>
        <!-- Optionally, you can add Slimscroll and FastClick plugins.
            Both of these plugins are recommended to enhance the
            user experience. -->
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>

