@model AssetManager.Web.ViewModels.ManufacturerViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Manufacturer</h4>
<hr />
<div class="row">
    <!-- right column -->
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">

            </div>
            <form asp-controller="Manufacturers" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Url" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="url" asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupportUrl" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="url" asp-for="SupportUrl" class="form-control" />
                            <span asp-validation-for="SupportUrl" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SupportPhone" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="text" asp-for="SupportPhone" class="form-control" />
                            <span asp-validation-for="SupportPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupportEmail" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="email" asp-for="SupportEmail" class="form-control" />
                            <span asp-validation-for="SupportEmail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Image" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="file" asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="box-footer text-right">
                        <a class="btn btn-link text-left" asp-action="Index">Cancel</a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check icon-white"></i>
                            Submit
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}