@model AssetManager.Web.ViewModels.SupplierViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Supplier</h2>

<hr />
<div class="row">
    <!-- right column -->
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">

            </div>
            <form asp-action="Create" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="Name" class="col-md-3 control-label">Supplier Name</label>
                        <div class="col-md-7">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="Address" class="col-md-3 control-label">Address</label>
                        <div class="col-sm-7">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="AddressTwo" class="col-md-3 control-label"></label>
                        <div class="col-md-7">
                            <input asp-for="AddressTwo" class="form-control" />
                            <span asp-validation-for="AddressTwo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="col-md-3 control-label">City</label>
                        <div class="col-md-7">
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="State" class="col-md-3 control-label">State</label>
                        <div class="col-md-7">
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Country" class="col-md-3 control-label">Country</label>
                        <div class="col-md-7">
                            <select asp-for="Country" class="form-control" asp-items="@(new SelectList(@ViewBag.CountryList))">
                                <option>--Select Country--</option>
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone" class="col-md-3 control-label">Phone</label>
                        <div class="col-md-7">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Fax" class="col-md-3 control-label">Fax</label>
                        <div class="col-md-7">
                            <input asp-for="Fax" class="form-control" />
                            <span asp-validation-for="Fax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-7">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contact" class="control-label col-md-3">Contact Name</label>
                        <div class="col-md-7">
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Zip" class="control-label col-md-3">Zip</label>
                        <div class="col-md-7">
                            <input asp-for="Zip" class="form-control" />
                            <span asp-validation-for="Zip" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="Url" class="control-label col-md-3">Url</label>
                        <div class="col-md-7">
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Image" class="control-label col-md-3">Upload Image</label>
                        <div class="col-md-7">
                            <input type="file" asp-for="Image" class="form-control" />
                            <p class="help-block">Please upload Image here.</p>
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label col-md-3">Notes</label>
                        <div class="col-md-7">
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <a class="btn btn-link text-left" asp-action="Index">Cancel</a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check icon-white"></i>
                            Submit
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}