@model AssetManager.Core.Entities.Company

@{
    ViewData["Title"] = "Create";
}

<h2>Create Company</h2>
<hr />
<div class="row">
    <!-- right column -->
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">

            </div>
            <form asp-controller="Companies"  method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                

                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3">Company Name</label>
                        <div class="col-md-7">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label col-md-3">Upload Image</label>
                        <div class="col-md-7">
                            <input type="file" asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index","Companies")">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
