@model AssetManager.Web.ViewModels.StatusLabelViewModel
@using AssetManager.Web.ViewModels

@{
    ViewData["Title"] = "Edit";
}

<div class="header-content">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-8">
            <p class="header-content-title">Edit Status Label</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
            <a asp-action="Index" class="pull-right btn btn-primary btn-create-new">Back</a>
        </div>
    </div>
</div>


<div class="row">
    <!-- right column -->
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">

            </div>
            <form asp-controller="StatusLabels" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box-body">
                    

                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Type" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<StatusTypeVM>()"> </select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Notes" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <textarea asp-for="Notes" class="form-control"> </textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <div class="checkbox">
                                <input asp-for="ShowInNav" /> @Html.DisplayNameFor(model => model.ShowInNav)
                            </div>
                        </div>
                    </div>

                    <div class="box-footer text-right">
                        <a class="btn btn-link text-left" asp-action="Index">Cancel</a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check icon-white"></i>
                            Submit
                        </button>
                    </div>

                   
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
