@model AssetManager.Web.ViewModels.LocationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Location</h2>

<hr />
<div class="row">
    <!-- right column -->
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">

            </div>
            <form asp-action="Edit" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manager" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="Manager" class="form-control" />
                            <span asp-validation-for="Manager" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="AddressTwo" class="form-control" />
                            <span asp-validation-for="AddressTwo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <select asp-for="Country" class="form-control" asp-items="@(new SelectList(@ViewBag.CountryList))"></select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Zip" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="Zip" class="form-control" />
                            <span asp-validation-for="Zip" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUri" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="file" asp-for="ImageUri" class="form-control" />
                            <span asp-validation-for="ImageUri" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
