@model AssetManager.Web.ViewModels.DepartmentsViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Departments</h4>
<hr />
<div class="row">
    <!-- right column -->
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">

            </div>
            <form asp-action="Create" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                   
        <div class="form-group">
            <label asp-for="LocatonId" class="control-label col-md-3"></label>
            <div class="col-md-7">
                <select asp-for="LocatonId" class="form-control" asp-items="@(ViewBag.Locations)"></select>

                <span asp-validation-for="LocatonId" class="text-danger"></span>
            </div>
        </div>
                  
                    <div class="form-group">
                        <label asp-for="ManagerId" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input asp-for="ManagerId" class="form-control" />
                            <span asp-validation-for="ManagerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <textarea asp-for="Note" class="form-control"></textarea>
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label col-md-3"></label>
                        <div class="col-md-7">
                            <input type="file" asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <a class="btn btn-link text-left" asp-action="Index">Cancel</a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check icon-white"></i>
                            Submit
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}