body {
}

.header-content {
    background: #fff !important;
    padding: 10px;
    margin-bottom: 15px;
}

.header-content-title {
    font-size: 30px;
    padding: 10px;
}

.btn-create-new{
    margin:20px;
}
